* {
    margin: 0;
    padding: 0;
}

div {
    position: relative;
    top: 0;
    left: 0;
    width: 7720px;
    height: 350px;
}

#sonic {
    position: absolute;
    display: block;
    top: 220px;
    left: 80px;
    width: 50px;
    height: 50px;
}

.sonic-pulo {
    animation: sonic-pulo .8s linear;
}

.sonic-ataque {
    animation: sonic-ataque .8s linear;
}

.sonic-direita-gamb {
  animation-fill-mode: forwards;
}

.sonic-direita {
  animation: sonic-direita .1s linear;
  animation-fill-mode: forwards;
}

#knuckles {
  position: absolute;
  display: block;
  top: 220px;
  left: 400px;
  width: 50px;
  height: 50px;
}

#fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 7720px;
    height: 350px;
}

@keyframes fundo-um {
    0%{
        left: 0;
    }
    100%{
        left: -7400px;
    }
}

@keyframes sonic-pulo {
    0% {
        top: 220px;
        transform: rotate(-5turn);
      }
    10% {
        top: 200px;
    
      }
    20% {
        top: 180px;
      }
    30% {
        top: 155px;
      }
    40% {
        top: 145px;
      }
    50% {
        top: 140px;
      }
    60% {
        top: 145px;
      }
    70% {
        top: 155px;
      }
    80% {
        top: 180px;
      }
    90% {
        top: 200px;
      }
    100% {
        top: 210px;
      }
}

@keyframes sonic-ataque {
    0%{
        transform: rotate(-6turn);
    }
    100%{

    }
}

@keyframes sonic-direita {
  0%{
    transform: translateX(15px);
  }
  100%{
    
  }
}
